<h1>Array Intersection Proof</h1>
<p>A simple proof to illustrate the performance difference between iteration and a hash when finding the intersection between two arrays.</p>

<h3>please input a whole number - the larger the better.</h3>

<form class="" action="/proofs/execute" method="get">
  <input type="number" name="input_num">
  <input type="submit" name="" value="submit">
</form>
