

<h3>please input a whole number between 500 and 10000.</h3>

<form class="" action="/proofs/execute" method="get">
  <input type="number" name="input_num" min="500" max="10000" >
  <input type="submit" name="" value="submit">
</form>
